* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "poppins";
}

:root {
    --color1: #D4F1F4;
    --black: #202020;
    --color2: #0097A7;
    --color3: #004952;
    --color4: #003D40;
    --colorYellow: #ffcc26;
    --ctnColor: rgb(226, 174, 3);
    --colorHover: #ffcc26;
    --borderColor: #e6e6e6;

    --controllers-color: #003D40;
    --activeDot: #ffcc26;
}

body {
    border-color: var(--color1);
    scroll-behavior: smooth;
}
.map iframe{
    width: 100%;
    height: 60vh;
    border: none;
}
.container {
    padding: 8rem;
}

.common-hero {
    width: 100%;
    height: 40vh;
    position: relative;
    top: 0;
}

button a{
    text-decoration: none;
    color: var(--color1);
}
.common-heroContent {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color1);
    z-index: 55;
    margin-bottom: 2rem;
}
.common-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.common-heroContent p {
    width: 80%;
    text-align: center;
    color: var(--color1);
}


.filter {
    position: absolute;
    background: linear-gradient(45deg, rgba(1, 139, 116, 0.507), rgba(0, 31, 21, 0.555));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.delay1 {
    transition-delay: 0.1s;
}

.delay2 {
    transition-delay: 0.2s;
}

.delay3 {
    transition-delay: 0.3s;
}

.delay4 {
    transition-delay: 0.4s;
}

.delay5 {
    transition-delay: 0.5s;
}

.delay6 {
    transition-delay: 0.6s;
}

.delay7 {
    transition-delay: 0.7s;
}

.delay8 {
    transition-delay: 0.8s;
}

.delay9 {
    transition-delay: 0.9s;
}

.delay10 {
    transition-delay: 1s;
}

.overflowHidden {
    overflow: hidden;
}

button {
    cursor: pointer;
}

h3 {
    color: var(--color4);
    font-weight: 500;
}

.ctn {
    padding: 1rem 2rem;
    background-color: var(--ctnColor);
    color: var(--black);
    border: none;
    margin-top: 1.2rem;
}

.btn {
    padding: 1rem 2rem;
    background-color: var(--color4);
    color: var(--color1);
    border: none;
    margin-top: 0.6rem;
    border-radius: 5px;
}

.moreBtn {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: transparent;
    color: var(--color4);
    border: none;
    border: 1px solid var(--color4);
}

.sectionTitle {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.sectionParagraph {
    color: #363636;
    padding-bottom: 0.8rem;
    font-size: 0.95rem;
    line-height: 28px;
}

.marginTop {
    margin-top: 12rem;
}


/* updates */
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.card{
    border: 1px solid var(--borderColor);
    transition: 0.6s ease all;
    cursor: pointer;
}
.card:hover{
    color: var(--color1);
    background-color: #e7f4fd;
}
.card-img{
    height: 200px;
}
.card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding: 1.2rem;
}
.ReadMoreBtn{
    float: inline-end;
    border: none;
    background: transparent;
    margin: 1.2rem 0 0.8rem 0;
    color: var(--color4);
}
.moreBtnWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
}

/* banner */
.banner{
    width: 100%;
    height: 45vh;
    margin: 2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bannerContent{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.banner p{
    color: var(--color1);
}
.banner h3{
    color: var(--color1);
    font-size: 2rem;
}

/* media query */
@media (max-width: 1200px) {
    .container {
        padding: 4rem 3rem;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .common-hero {
        height: 40vh;
    }

    .common-heroContent {
        padding: 1.2rem;
    }

    .common-heroContent p {
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 4rem 2rem;
    }
    .cards{
    grid-template-columns: repeat(1,1fr);
}
.banner {
    width: 100%;
    height: 45vh;
    position: relative;
  }
}

@media (max-width: 600px) {
    .container {
        padding: 4rem 1.4rem;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 4rem 1.2rem;
    }
}